@charset "utf-8";
/* CSS Document */
/*header*/
.search-place {
	margin: 0% 2% 0% 0%;
}
.social-icon {
	margin: 1% 0% 1% 2%;
	width: 60%;
	}
.social-icon img {
	margin: 0% 3% 0% 0%;
	width: 6%;
	}
.form-search {
  margin: 0% 2% 0% 0%; 
  display: flex;
  background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  border-radius: 9px;
  padding: 5px;
}
.form-search input {
  height: 2.5em;
  width: 8em;
  font: 2em, Helvetica, Arial, sans-serif; 
  color:#c3bebe;
  padding: 0 30px 0 6px; 
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), linear-gradient(#000000, #000000);
  background-repeat: no-repeat; 
  background-position: 100% 50%, 100% 100%;
  border: 1px solid #747474;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
}
.form-search input:focus {
  height: 2.5em;
  width: 25em;
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  color: #EC484A;
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), linear-gradient(#3B393A);
 }
/* logo */
.foto-of-logo{
	margin: 0px;
	padding: 0px;
	position:relative;
	}
#bg-logo{
	position: relative;
	width:100%;
	margin: 0%;
	}
#logo {
	position: absolute;
	top: 50px;
  	right: 40%;
  	width: 20%;
	height: 50%;
	}
/*navigation*/
.nav-main a {
	font-family: Ropa Sans; 
	color: #000;
	font-size: 3em;
	}
.nav-main a:hover {
	font-family: Ropa Sans; 
	color:#DD080C;
	font-size: 3em;
	}
.line-menu-down {
 	margin: 0;
	width:100%;
	}
.line-nav {
	height: 3em;
}
/*burger menu*/
nav {
	display: none;
}
/* do it*/
.another-nav p {
	margin: 5% 5% 10% 5%;
	text-align: center;
	font-size: 7em;
	font-family: Ropa Sans;
	color: #000;
	}
/*square*/
#become-author {
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 5em;
	color: #000;
}
#become-author:hover {
	text-decoration: none;
	font-size: 5em;
	text-align: center;
	color: #DD080C;
	}
/* content */
/*post right*/
.post-main-right, .post-main-left {
	margin: 3% 0% 0% 0%;
	width: 100%;
	height: 20%;
	overflow: hidden;
}
.post-pic {
	width: 100%;
}
.post-pic-right, .post-pic-left {
	width: 70%
}
.post-article-right, .post-article-left {
	width: 30%;
}
.post-title-right a{
	color: #000;
	font-size: 1.6em;
}
.post-title-left a{
	color: #000;
	font-size: 1.6em;
}
.post-title-right, .post-title-left {
	color: #000;
	text-decoration: none;
	font-family: Oranienbaum;
	font-size: 4em;	
	text-align: center;
	margin: 0% 0% 5% 0%;
}
.post-title-right:hover, .post-title-left:hover {
	color: #000;
	text-decoration: overline underline;
	font-family: Oranienbaum;
	font-size: 4em;	
	text-align: center;
	margin: 0% 0% 5% 0%;
}
.post-text-right, .post-text-left {
	height: 15em;	
	margin: 0% 0% 0% 5%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Oranienbaum;
	font-size: 1.4em;	
}
/* more */
.more {
	text-decoration: none;
	color: #6B0709;
	font-family: Oranienbaum;
	font-size: 1em;
	font-style: italic;
	}
.more:hover {
	text-decoration: none;
	color: #000;
	font-family: Oranienbaum;
	font-size: 1em;
	font-style: italic;
	}
/*pages with article*/
.article-name-divide{
	display: none;
}
article h2 {
	font-size: 3.5em;
}
article p {
	margin: 0% 3%;
	color: #000;
	font-size: 1.5em;
}